<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/myfilter/js/dygraph.min.js"></script>
    <script src="/myfilter/js/axios.min.js"></script>
    <script src="/myfilter/js/vue.global.prod.js"></script>
    <script src="/myfilter/js/el-icons-vue-2.0.6.min.js"></script>
    <!-- Import style -->
    <link rel="stylesheet" href="/myfilter/css/element-plus.css" />
    <!-- Import component library -->
    <script src="/myfilter/js/element-plus.js"></script>
    <link rel="stylesheet" href="/myfilter/css/dygraph.min.css">
    <link rel="stylesheet" href="/myfilter/css/custom.css">
    <title>MyFilter</title>
</head>

<body>
    <a href="https://github.com/lmytime/MyFilter" target="_blank" class="github-corner"
        aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250"
            style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; left: 0; transform: scale(-1, 1);"
            aria-hidden="true">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path
                d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path
                d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                fill="currentColor" class="octo-body"></path>
        </svg>
        <style>
            .github-corner:hover .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }

            @keyframes octocat-wave {

                0%,
                100% {
                    transform: rotate(0)
                }

                20%,
                60% {
                    transform: rotate(-25deg)
                }

                40%,
                80% {
                    transform: rotate(10deg)
                }
            }

            @media (max-width:500px) {
                .github-corner:hover .octo-arm {
                    animation: none
                }

                .github-corner .octo-arm {
                    animation: octocat-wave 560ms ease-in-out
                }
            }
        </style>
    </a>
    <div id="app">
        <div class="main">
            <div class="left-container">
                <div class="title">AstroMy™ Filter</div>
                <div v-html="cusComment"></div>
                <el-card style="text-align: left; font-size: small; width: 80%; margin: 0 auto;">
                    <h2 @click="readmeDialog = !readmeDialog" style="cursor: pointer;"
                        v-text="`${readmeDialog ? 'README ↓' : 'README -'}`"></h2>
                    <div v-show="readmeDialog">
                        <span style="font-size: normal;"> 1. Hold down the shift key and drag the cursor to adjust line
                            redshift;
                            <br> 2. Hold down the alt/option key and drag the cursor to change wavelength window; <br>3.
                            Drag
                            the
                            cursor to zoom in; <br>4. Double click to zoom out;<br>5. You can click the 'Share Link'
                            button to save current config.<br><br>

                            If this tool helped with your work, please cite
                            <div style="text-align: center;">
                                <a href="https://doi.org/10.5281/zenodo.10210202"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.10210202.svg" alt="DOI"></a>
                            </div>
                            <br><br>
                        </span>
                        <h4 style="text-align:center;"> Contact: <a target="_blank"
                                href="https://lmytime.com/contact">Mingyu Li</a>
                        </h4>
                    </div>

                </el-card>
                <el-divider></el-divider>
                <h2>Search to Add Instrument</h2>
                <el-select v-model="InstrumentValue" filterable remote reserve-keyword @change="addSearchedInstrument"
                    placeholder="Search to Add Instrument" :remote-method="searchInstrument" :loading="loading"
                    size="large" style="width:85%;">
                    <el-option v-for="item in instrumentOptions" :key="item.value" :label="item.value" :value="item" />
                </el-select>
                <el-divider style="border-top:1px dashed"></el-divider>
                <div style="display: flex; justify-content: space-evenly;">
                    <el-card class="filterlist"
                        style="width: 35%; margin-bottom: 5px; border: 1px solid rgb(71, 82, 177);">
                        <el-button link @click="downloadWithAxios(filterLink, 'myfilters.csv')">Download csv</el-button>
                    </el-card>
                    <el-card class="filterlist"
                        style="width: 35%; margin-bottom: 5px; border: 1px solid rgb(71, 82, 177);">
                        <el-button link @click="copyText();">Share Link</el-button>
                    </el-card>
                </div>
                <el-input v-if="shareLinkVisible" v-model="shareLink" ref="shareLink" readonly resize='none' autosize
                    type="textarea"
                    input-style="word-wrap:break-word;line-height:1;font-family: monospace;font-size:small;word-break: break-all;"></el-input>
                <el-divider style="border-top:1px dashed"></el-divider>

                <el-card class="filterlist" v-for="instrument in selectedIntrument"
                    style="width: 95%; margin-bottom: 5px; border: 1px solid rgb(71, 82, 177);">
                    <h3 @click="instrument.dialog = !instrument.dialog" style="cursor: pointer;"
                        v-text="`${instrument.dialog ? instrument.value+' ↓' : instrument.value+' -'}`"></h3>
                    <span v-show="!instrument.dialog"
                        style="display: flex;flex-direction: row; justify-content: space-evenly; font-family: Courier, monospace;">
                        <span v-text="`${getSelectedFilterNumber(instrument.children)} Selected`"></span>
                        <el-popconfirm confirm-button-text="Delete" cancel-button-text="No" icon-color="#626AEF"
                            :title="`Are you sure to delete ${instrument.value}?`" confirm-button-type="danger"
                            cancel-button-type="info" @confirm="deleteSelectedInstrument(instrument)">
                            <template #reference>
                                <el-button type="danger" link>Delete Card</el-button>
                            </template>
                        </el-popconfirm>
                    </span>
                    <div class="checkboxs" v-show="instrument.dialog">
                        <el-checkbox border v-for="filter in instrument.children" v-model="filter.checked"
                            :key="filter.value" @change="updateFilter()">
                            <span v-text="filter.label"></span>
                        </el-checkbox>
                    </div>
                </el-card>

            </div>
            <div class="right-container">
                <div class="dygraph" id="dygraph" style="width:100%; height:500px;"></div>
                <el-divider></el-divider>
                <span>
                    <h2>
                        Redshift z=
                        <el-input-number size="large" @change="updateline" v-model="redshift" :precision="4"
                            :step="0.0001">
                        </el-input-number>
                        <el-divider></el-divider>
                        <div>Select Lines</div>
                    </h2>
                    <h3>
                        <span>Search lines in </span>
                        <a href="https://github.com/linetools/linetools/blob/master/linetools/lists/sets/llist_v1.3.ascii"
                            target="_blank" style="text-decoration: none; color:rgb(71, 82, 177);">
                            Ref
                        </a>:
                        <el-select v-model="value" style="width: 240px;" filterable remote reserve-keyword
                            @change="addSearchedLine" placeholder="Search name or wavelength"
                            :remote-method="searchLine" :loading="loading">
                            <el-option v-for="item in lineOptions" :key="item.w" :label="`${item.name} → ${item.w}Å`"
                                :value="item" />
                        </el-select>
                        or add
                        <el-button type="primary" @click="dialogFormVisible = true">custom line</el-button>
                    </h3>
                    <el-dialog v-model="dialogFormVisible" title="Add custom line" width="30%" draggable>
                        <el-form :model="form" label-position="right">
                            <el-form-item label="Line name">
                                <el-input v-model="form.name" autocomplete="off" />
                            </el-form-item>
                            <el-form-item label="Line wavelength [Å]">
                                <el-input v-model="form.lambda" autocomplete="off" />
                            </el-form-item>
                        </el-form>
                        <template #footer>
                            <span class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                                <el-button type="primary" @click="addLine();dialogFormVisible = false">Confirm
                                </el-button>
                            </span>
                        </template>
                    </el-dialog>
                    <div class="checkboxs">
                        <div>
                            <el-checkbox border v-show="item.checked" v-for="item in lines" v-model="item.checked"
                                :key="item.name" @change="g.updateOptions({})">
                                <el-popover placement="top" trigger="hover" :content="`λ=${item.lambda}Å`">
                                    <template #reference>
                                        <span v-text="item.name"></span>
                                    </template>
                                </el-popover>
                            </el-checkbox>
                        </div>
                        <el-divider style="border-top:1px dashed">Optional lines</el-divider>
                        <div style="margin-top: -15px; width: 100%; text-align: center;">
                            <el-button type="text" @click="selectAllLines">[Select All]</el-button>
                            <el-popconfirm width="300" confirm-button-text="Yes" cancel-button-text="No" icon-color="#626AEF"
                                :title="`This will delete all custom lines. Are you sure?`" confirm-button-type="danger"
                                cancel-button-type="info" @confirm="selectDefaultLines">
                                <template #reference>
                                    <el-button type="text" style="color: red;">[Default]</el-button>
                                </template>
                            </el-popconfirm>
                            <el-button type="text" @click="unselectAllLines">[Unselect All]</el-button>
                        </div><br>
                        <div>
                            <el-checkbox border v-show="!item.checked" v-for="item in lines" v-model="item.checked"
                                :key="item.name" @change="g.updateOptions({})">
                                <el-popover placement="top" trigger="hover" :content="`λ=${item.lambda}Å`">
                                    <template #reference>
                                        <span v-text="item.name"></span>
                                    </template>
                                </el-popover>
                            </el-checkbox>
                        </div>
                    </div>
                </span>
            </div>

        </div>

    </div>

    <script>
        // please note,
        // that IE11 now returns undefined again for window.chrome
        // and new Opera 30 outputs true for window.chrome
        // but needs to check if window.opr is not undefined
        // and new IE Edge outputs to true now for window.chrome
        // and if not iOS Chrome check
        // so use the below updated condition
        var isChromium = window.chrome;
        var winNav = window.navigator;
        var vendorName = winNav.vendor;
        var isOpera = typeof window.opr !== "undefined";
        var isIEedge = winNav.userAgent.indexOf("Edg") > -1;
        var isIOSChrome = winNav.userAgent.match("CriOS");

        if (isIOSChrome) {
            // is Google Chrome on IOS
        } else if (
            isChromium !== null &&
            typeof isChromium !== "undefined" &&
            vendorName === "Google Inc." &&
            isOpera === false &&
            isIEedge === false
        ) {
            // is Google Chrome
        } else {
            // not Google Chrome
            alert("This web app is only tested on Google Chrome.");
        }
    </script>
    <script type="module" src="/myfilter/js/custom.js"></script>

</body>

</html>